<!DOCTYPE html>
<html>

<head>

    <title>MANGO CONTACTO</title>
    <script src="https://kit.fontawesome.com/8f6c69704f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/estiloContacto.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="row">
                        <div class="col-3">
                            <img src="../public/images/mango-logo.jpg"> </a>
                        </div>
                        <div class="col-2">
                            <a href="index.html">HOME</a>
                        </div>
                        <div class="col-2">
                            <a href="/">CONTACTO</a>
                        </div>
                        <div class="col-2">
                            <a href="look.html">LOOKBOOK</a>
                        </div>
                        <div class="col-3">
                            <a href="compra.html">COMPRA ONLINE</a>
                        </div>
                    </div>
                </nav>
                <section>

                    <h1>ENVIENOS SU COMENTARIO:</h1>
                    <br>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comentario</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </form>
                </section>

                <footer>
                    <div class="row">
                        <div class="col-4">
                            <p class="text-center">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                            </p>
                            <p>Av Cabildo 1600</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">
                                <i class="fas fa-phone-alt fa-2x"></i>
                            </p>
                            <p>TEL: 1156998569</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">
                                <i class="fab fa-facebook fa-2x"></i>
                                <p>Magno Ropa</p>
                        </div>
                </footer>
            </div>
        </div>
    </div>




    <script src="../public/javascripts/jquery.js"></script>
    <script src="../public/javascripts/popper.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>