<!DOCTYPE html>
<html>
<head>
    
    <title>MANGO LOOKBOOK</title>
    <script src="https://kit.fontawesome.com/8f6c69704f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/estiloLook.css">

</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <div class="row">
                                    <div class="col-3">
                                            <img src="../public/images/mango-logo.jpg"> </a>
                                        </div>
                                <div class="col-2">
                            <a href="index.html">HOME</a>
                        </div>
                                <div class="col-2">
                            <a href="contacto.html">CONTACTO</a>
                        </div>
                                <div class="col-2">
                            <a href="/">LOOKBOOK</a>
                        </div>
                                <div class="col-3">
                            <a href="compra.html">COMPRA ONLINE</a>
                        </div>
                        </div>
                        </nav>
                        <section>

                                <iframe width="900" height="630" src="https://www.youtube.com/embed/JkpudV3gJPg?controls=0&amp;start=10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<footer>
        <div class="row">
            <div class="col-4">
                    <p class="text-center">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    </p>
            <p>Av Cabildo 1600</p>
        </div>
        <div class="col-4">
            <p class="text-center">
                <i class="fas fa-phone-alt fa-2x"></i>
            </p>
            <p>TEL: 1156998569</p>
            </div>
            <div class="col-4">
                    <p class="text-center">
                    <i class="fab fa-facebook fa-2x"></i>
                <p>Mango Ropa</p>
                </div>
        </footer>
    </div>
</div>
</div>




        <script src="../public/javascripts/jquery.js"></script>
        <script src="../public/javascripts/popper.js"></script>  
        <script src="../public/javascripts/bootstrap.min.js"></script>
</body>
</html>