<!DOCTYPE html>
<html>
<head>
    
    <title>MANGO PERFIL</title>
    <script src="https://kit.fontawesome.com/8f6c69704f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/estiloPerfil.css">

</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <div class="row">
                                <div class="col-3">
                                        <img src="../public/images/mango-logo.jpg"> </a>
                                    </div>
                            <div class="col-2">
                        <a href="./index.html">HOME</a>
                    </div>
                            <div class="col-2">
                        <a href="./contacto.html">CONTACTO</a>
                    </div>
                            <div class="col-2">
                        <a href="./look.html">LOOKBOOK</a>
                    </div>
                            <div class="col-3">
                        <a href="./compra.html">COMPRA ONLINE</a>
                    </div>
                    </div>
                    </nav>
                    <section>
<div class="row">
    <div class="col-6">
        <h2>Inicia Sesion</h2>
        
        <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
    </div>
    <div class="col-6">
            <h2>Suscribite</h2>
            
            <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Direccion</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Provincia</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Ciudad</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Codigo Postal</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
        </div>
</div>
                        </section>
                        <footer>
                                <div class="row">
                                    <div class="col-4">
                                            <p class="text-center">
                                            <i class="fas fa-map-marker-alt fa-2x"></i>
                                            </p>
                                    <p>Av Cabildo 1600</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-center">
                                        <i class="fas fa-phone-alt fa-2x"></i>
                                    </p>
                                    <p>TEL: 1156998569</p>
                                    </div>
                                    <div class="col-4">
                                            <p class="text-center">
                                            <i class="fab fa-facebook fa-2x"></i>
                                        <p>Mango Ropa</p>
                                        </div>
                                </footer>
                            </div>
                        </div>
                        </div>
                        
                        
                        
                        
                                <script src="../public/javascripts/jquery.js"></script>
                                <script src="../public/javascripts/popper.js"></script>  
                                <script src="../public/javascripts/bootstrap.min.js"></script>
                        </body>
                        </html>